<ion-view hide-back-button="true" view-title="Help and Feedback">
<ion-nav-buttons side="left">
<a href="#/app/profile">
        <button class="button button-icon button-clear"  style="margin-top:5px;margin-right: 8px;">
        <img src="img/back-btn.png"  style="width: 15px;height: 23px;margin-top: 3px;">
       </button>
       </a>
    
      </ion-nav-buttons>
      
     
       
    <ion-content style="margin-bottom: 55px;">
    
        <center> <div ng-show="spin" class="spinns"> <ion-spinner icon="crescent" class="spinner-royal"></ion-spinner> </div> </center> 
    
     <p>Help and Feedback</p>
     
    
    
    
         
    
    
    
    
    </ion-content> 
    
   
  
</ion-view>

