 <ion-header-bar class="bar-stable bar bar-header" align-title="center">
<p class="hedrlogin" on-tap="redirect()"> Sign in to your Account</p>
 </ion-header-bar> 
 <ion-content cache-view="false" class="bglogin">
      <center> <div ng-show="spin" class="spinns"> <ion-spinner icon="crescent" class="spinner-royal"></ion-spinner> </div> </center>


<img src="img/logo.png" class="lonbef_logo"/> 

<a href="#/login"> <button class="button button button-positive" style="width: 24%;border-radius: 30px;">Log In</button> </a>

   
   </ion-content>
