<ion-view hide-back-button="true" view-title="Pay Amount">
<ion-nav-buttons side="close">
<a href="#/app/home">
        <button class="button button-icon button-clear"style="margin-top:5px;margin-right: 8px;">
        <img src="img/back-btn.png"  style="width: 15px;height: 23px;margin-top: 3px;">
       </button>
       
          </a> 
 
      </ion-nav-buttons>
      
     
       
    <ion-content>
    <div class="bor_poiuyhsdf25639">
 <p class="we_vom1 colo-ASDFfrfg">Store Name</p>
       <input type="text" class="as_input" placeholder=""   ng-model="qrpay.name" readonly="readonly" style="margin-bottom: 15px;">
       <p class="we_vom1 colo-ASDFfrfg">Mobile</p>
       <input type="text" class="as_input" placeholder=""   ng-model="qrpay.mobile" readonly="readonly" style="margin-bottom: 15px;"> 
        <p class="we_vom1 colo-ASDFfrfg">Amount</p>
       <input type="number" class="as_input" placeholder="" required > 
        <button class="button be_btm" type="button" style="margin-top: 25px;">Buy</button>
    
      <!--  {{qrpay.name}},  {{qrpay.mobile}} , {{qrpay.id}}-->
    </div>
    
       </ion-content> 
 
  
</ion-view>

