	<ion-view hide-back-button="true" view-title="Personal Assistant">
<ion-nav-buttons side="left">
<a href="#/app/homecomplete">
        <button class="button button-icon button-clear"  style="margin-top:5px;margin-right: 8px;">
        <img src="img/back-btn.png"  style="width: 15px;height: 23px;margin-top: 3px;">
       </button>
       </a>
    
      </ion-nav-buttons>
      
     

  <ion-content>
 <center> <div ng-show="spin" class="spinns"> <ion-spinner icon="crescent" class="spinner-royal"></ion-spinner> </div> </center> 
     
     
     
      <div class="card">
      <div class="row">
      <div class="col col-50">
     <!-- <div ng-if="Message=='started'">
      <button class="button be_btm" style=" width:60%" ng-click="started()">Start</button>
      </div>-->
      <button class="button be_btm" style=" width:80%" ng-click="started()" ng-if="startmsg!='started'">Start</button>
      <p ng-if="startmsg=='started'" class="satr_tinmxdv_1425">Start Time:<span class="alter_iyhsdcf258h">{{starttimes}}</span></p>
      </div>
      <div class="col col-50">
       <button class="button be_btm" style=" width:80%"  ng-click="stoped()" ng-if="stopmsg!='ended'">Stop</button>
       <p ng-if="stopmsg=='ended'" class="satr_tinmxdv_1425">End Time:<span class="alter_iyhsdcf258h">{{endedtimes}}</span></p>
      </div>
      </div>
      </div>
</ion-content>


</ion-view>



