<ion-view hide-back-button="true" view-title="Wallet">
<ion-nav-buttons side="close">
         <a href="#/app/home">
        <button class="button button-icon button-clear" style="margin-top:5px;margin-right: 8px;">  <!--ng-click="logout()"-->
       
        <img src="img/back-btn.png"  style="width: 15px;height: 23px;margin-top: 3px;">
   
       </button>
       
           </a>
 
      </ion-nav-buttons>
      
     
       
    <ion-content style="margin-bottom: 55px;">
    
        <center> <div ng-show="spin" class="spinns"> <ion-spinner icon="crescent" class="spinner-royal"></ion-spinner> </div> </center> 
    
     
    <p class="wlat_co"> My Wallet Balance </p>
    
    <p class="wlat_cprio"> INR 54.00 </p>
    
    
    
    </ion-content> 
    
    
</ion-view>

