<ion-view hide-back-button="true" view-title="Manage Vehicle">
<ion-nav-buttons side="close">
         <a href="#/app/home">
        <button class="button button-icon button-clear" style="margin-top:5px;margin-right: 8px;">  <!--ng-click="logout()"-->
        <img src="img/back-btn.png"  style="width: 15px;height: 23px;margin-top: 3px;">
       </button>
           </a>
      </ion-nav-buttons>
      
    <ion-content>
    
        <center> <div ng-show="spin" class="spinns"> <ion-spinner icon="crescent" class="spinner-royal"></ion-spinner> </div> </center> 
    
     <div>
     <div class="div_solo_clkdg5">
     <p class="data_stor_imhsdf">Current Vehicle</p>
     <div class="row">
     <div class="col col-67">
     <p class="p_cls_1_dattad5">Vehicle Name</p>
     </div>
     <div class="col col-33">
     <p class="p_cls_1_dattad5">Speed</p>
     </div>
     </div>
     </div>
        <div class="div_solo_clkdg5" style="border: none;">
     <p class="data_stor_imhsdf">Current Vehicle</p>
     <div class="doooljjrth85f">
     <p class="we_vom1">Vehicle Type</p>
      <select class="doe_duusa_clfd5">
      <option>Vehicle Type</option>
      </select>
     </div>
     </div>
     
     <p class="cla_dat_uujfgvd">Update Vehicle</p>
     </div>
     
    
    
    
         
    
    
    
    
    </ion-content> 
    
   
  
</ion-view>

